body {
  background-color: #333;
}

.nav {
  background-color: lightgrey;
  width: 100%;
}

#coolDiv {
  background-color: whitesmoke;
  width: 90%;
  margin: 100px auto 0;
  text-align: center;
  padding: 50px 0 200px;
}
